.CL-container {
  /* background-image: url("https://getwallpapers.com/wallpaper/full/2/5/8/1263444-university-of-florida-computer-wallpaper-1920x1080-for-macbook.jpg"); */
  /* background-image: url("https://wallpapers.com/images/hd/florida-gators-university-alligator-logo-xurh2y1041iz4hcw.jpg"); */

  min-width: 100vw;
  min-height: 100vh;
  align-items: center;
  object-position: center;
}
.img-conteiner {
  left: 20vw;
  max-width: 60vw;
  max-height: 35vh;
  position: relative;
}

/* rgb(250, 70, 22); */
.img1 {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 50% 50%;
  border: 2px solid rgba(200, 200, 200, 0.8);
  background-color: white;
  margin-top: 20vh;
  border-radius: 8px;
}

.C1 {
  width: 100%;
  aspect-ratio: 6/7;
  border-radius: 8px;
  grid-row: 1/3;
  display: block;
}

.mas {
  grid-column: 1/2;
  display: flex;
  height: 100%;
  width: 5%;
  position: absolute;
  top: 50%;
  left: 55%;

  color: black;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.menos {
  grid-column: 1/2;
  display: flex;
  height: 100%;
  width: 5%;
  position: absolute;
  top: 50%;
  right: 95%;

  color: black;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.flecha1 {
  margin-top: 110px;
}

.flecha2 {
  margin-top: 110px;
}

.tallasT {
  display: flex;
  margin-top: 10px;
}

.comprar {
  display: flex;
  width: 20vw;
  height: 7vh;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: white;
  background-color: black;
}
