.AppBar {
  max-height: 100px;
  background-color: white;
  border-bottom: 3px solid rgb(250, 70, 22);
}

.AB-img {
  display: flex;
  height: 70px;

  margin-left: 10px;
  aspect-ratio: 3/2;
}

.AB-icono {
  margin-left: 0px;
}

.AB-avatar {
  display: flex;
  flex-direction: row;
  margin-left: 80vw;
  justify-content: center;
}
